# =============================================================================
# tag
# =============================================================================

environment = "dev"
managedby   = "terraform"
project     = "terraform_aws_startup_env"

# =============================================================================
# modules.vpc
# =============================================================================

vpc_cidr            = "10.0.0.0/16"
azs                 = ["eu-central-1a"]
subnet_public_cidrs = ["10.0.1.0/24"]

# =============================================================================
# module.ec2instance
# =============================================================================

instance_type = "t3.micro"
ami_id        = "ami-08bdb1495db49a7f9"

# =============================================================================
# module.s3
# =============================================================================

bucket_name = "my-cool-terraform-bucket-version-1"